<!--模板继承头部-->
{include file="public/head" /}

<!--模板继承身体-->
{block name="body"}
</head>
<body>
<div class="zy_login_box">
	<header class="zy_search_top_box">
		<div class="zy_title_top fix">
			<div class="one" href="__STATIC__/javascript:" onclick="history.back();"><img src="__STATIC__/images/back_jt.png"></div>
			<h1>修改密码</h1>
			<!--<a href="__STATIC__/login.html">退出</a>-->
		</div>
	</header>	

	<!-- 内容框 -->
	<div class="zy_module-content">
		<div class="login_box zhuce_box mima_box">			
			<div class="zhuce_con">
				<div class="zhuce_tel">
					<form id="eaitform">
						<div>
							<label><a><img src="__STATIC__/images/web/zy_icon_user.png"></a><input type="text" name="mobile" id="mobile" placeholder="输入手机号"></label>
						</div>
						<div class="yzm">
							<label><a><img src="__STATIC__/images/web/zy_icon_iphone.png"></a><input type="text" name="mobilecode" placeholder="手机验证码"></label><!-- 
						 --><input id="code" class="code" data-register="{:url('Login/sms')}" value="获取手机验证码">
						</div>
						<div>
							<label><a><img src="__STATIC__/images/web/zy_icon_mm.png"></a><input type="password" name="password" placeholder="请修改密码"></label>
						</div>
						<div>
							<label><a><img src="__STATIC__/images/web/zy_icon_mm.png"></a><input type="password" name="password_confirm" placeholder="请确认密码"></label>
						</div>
						<button class="zy_login_btn" id="eaitBtn" type="button" data-eait="{:url("Login/eait")}" data-login="{:url("Login/login")}">修改密码</button>
					</form>
				</div>
			</div>			
		</div>

	
	</div>
</div>

</body>

<script type="text/javascript" src="__STATIC__/js/login.js"></script>
</html>
{/block}